#container {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    
}

label {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 21px;
}

input {
    width: 100%;
    display: block;
    padding: 12px 30px;
    box-sizing: border-box;
    margin: 15px 0px;
    border-radius: 8px;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: font-family: Impact, Charcoal, sans-serif;
}
input:focus {
  border: 3px solid lightblue;
}

button[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border-radius: 8px;
    border: none;
    margin: 8px 0px;
    cursor: pointer;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
}

button[type=submit]:hover {
    background-color: #45a049;
}
div div {
    padding: 0px;
}



