#container {
  margin: 0px 150px;
}

#InfoUser {

  margin-top: 30px;
  margin-bottom: 50px;
}
h2 {
  margin-bottom: 10px;
}
#nombreUsuario {
  border: 1px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  background-color: lightgray;
}

#informacion {
  border: 1px solid black;
  width: 1000px;
}

.ListaInformacion > li{
  display: block;
  margin: 10px 0px;
}

table {
  /*border: 1px solid black;*/
  width: 1002px;
}
/* td {
  border: 1px solid black;
}
 */

