
li {
    display: inline;
}
nav {
    
   /*  background-color: lightseagreen; */
    border:2px solid black;
    height: 40px;
    margin-bottom:50px;
}

nav li a {
    color: #000000;
    text-align: center;
    padding: 5px 10px 19px 0px;
    text-decoration: none;
    font-size: 20px;
}
ul {
    padding: 0px;
    margin: 0px;
    height: 100%;
}
nav a:hover{
    background-color: lightyellow;
}
